
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 font-sans;
    overscroll-behavior-y: contain;
  }
}

@layer utilities {
  .mono {
    font-family: 'JetBrains Mono', monospace;
  }
}

/* Custom scrollbar for industrial feel */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
